html,
body {
    height: 100%;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    font-size: 1.2rem;

}

img {
    max-width: 100%;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

h1 {
    text-transform: uppercase;
    font-family: raleway;
    font-weight: 700;
}

h2 {
    font-size: 2.9rem;
    font-weight: 700;
    margin-top: 30px;
}

.grey {
    color: #949494;
}

.header {
    background-color: #222222;

}

.site-logo {
    width: 150px;
    display: inline-block;
    padding: 18px 35px;
}


.menu li {

    padding: 15px;
}

.menu li a {
    font-size: 1.25rem;
    color: #eeeeee;
    margin-right: 15px;
    padding: 2px 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.menu li a:hover {
    text-decoration: underline;

}

.navbar-toggler {
    border-color: #444;
}

.navbar-toggler:focus {
    background: none;
    outline: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.hero-overlay {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.hero-overlay .container {
    height: 100vh;

}


.hero-content {
    color: #f1f1f1;
    text-align: right;


}

.hero-content h1 {
    font-size: 6.5rem;
    padding-top: 150px;
}

.separator {

    width: 200px;
    height: 8px;
    background-color: #AC2727;

}

.hero-content h6 {
    padding: 30px 0px;
    text-align: right;
}

h6 {

    font-size: 1.2rem;



}

.wa-btn {

    display: inline-block;
    border: none;
    font-size: 1rem;
    padding: 13px 27px;
    background: #BC3838;
    color: #fff;
    line-height: normal;
    cursor: pointer;


}

.wa-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #800d0d;

}



.fa-phone-alt {
    margin-right: 8px;
}


.presentation {
    height: 70vh;
    background-color: #222;
}

.presentation .container {
    color: white;
    font-size: 1.3rem;
}

.ml-auto {
    margin: auto;
}


.presentation .container p {
    width: 60%;
    padding-top: 120px;
}



.row .service {
    text-align: center;
}

.features-btn.wa-btn {
    margin-top: 50px;
}

.carocas {

    padding: 200px 0px;
    background: linear-gradient(12deg, #222222 36%, #E6E6E6 11%) no-repeat 50% 50% / 100% 100%
}

.footer-section {
    color: #d1d1d1ad;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;


}

.ig,
.phone {
    color: inherit;
}

.ig:visited,
.phone:visited {
    color: inherit;
}



.fw-info-text {
    display: inline-block;
}

.footer-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 0px;
}

.logo {
    width:
}

p .fas,
.fab {
    color: #BC3838;
}

.feature {


    transition: 0.4s;
    border-radius: 10px;
    padding: 20px;
    margin: 60px 10px 20px 10px;

}

.feature:hover {

    background-color: #AC2727;
    color: #e2e2e2;
    -webkit-box-shadow: 0px 0px 76px -39px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 76px -39px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 76px -39px rgba(0, 0, 0, 0.75);
}

.col-lg-6.carocas-content {

    padding-left: 70px;
}

.col-lg-7.section-title,
.col-lg-9.carocas-content {
    padding: 0;
}

.col-lg-7.section-title {
    color: #AC2727;
}

.carocas-content .section-title {
    width: 60%;
    color: #AC2727;
}

.carocas-content .wa-btn {
    margin-top: 20px;
}

/*services*/

.feature-section-service {
    margin: 100px 0px 120px 0px;
}


.page-overlay {
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.page-overlay .page-content {
    height: 40vh;
}

.page-content h1 {
    font-size: 4.2rem;
    color: #f1f1f1;
}

.tarif-horaire {
    background-color: #d1d1d1ad;
    padding: 100px 0px;

}

.tarif-horaire .section-title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
}



/*occasion*/

.no-car {
    height: 80vh;
}

.no-car h2 {
    margin-top: 160px;
}

/*contact*/

.map-section {
    margin-top: 50px;
}

.map {
    width: 100%;
    height: 60vh;

}

.contact-box {

    padding: 20px;
    padding-bottom: 50px;
    margin: 60px 10px 20px 15px;
    background-color: #ececec;
    -webkit-box-shadow: 0px 2px 46px -30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 46px -30px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 46px -30px rgba(0, 0, 0, 0.2);
}

.contact-wrapper {
    text-align: center;
}

.contact-box .separator {

    width: 50px;
    height: 3px;
    background-color: #AC2727;
    margin-bottom: 30px;


}


.phone:hover {
    color: #000000;
}



/*responsive*/



@media screen and (max-width: 1200px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 5.8rem;
    }

    .contact h1, .service h1{

        font-size: 3.8rem;

    }


    h6 {
        font-size: 1rem;
    }

    h2 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 20px;
    }

    .menu li a {
        font-size: 1.15rem;
    }

    .presentation .container {
        font-size: 1.15rem;
    }

    .footer-section {
        font-size: 1rem;
    }
}


@media screen and (max-width: 992px) {

    body {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 5.2rem;
    }

    .contact h1, .service h1{

        font-size: 3.5rem;

    }

    .presentation .container {
        font-size: 1.05rem;
    }

    .presentation .container p {
        padding-top: 100px;
    }

    .feature-section .container {

        max-width: inherit;
    }

    .carocas {


        background: linear-gradient(15deg, #222222 57%, #E6E6E6 48%) no-repeat 50% 50% / 100% 100%
    }

    .carocas-content .section-title {
        width: 100%;


    }

    .carocas-content {
        color: #eeee;

    }
}

@media screen and (max-width: 790px) {


    .col-sm-4.service {
        padding: 0px 5px;
    }

    .contact h1, .service h1{

        font-size: 3.2rem;

    }

    .feature {

        padding: 12px;
        margin: 60px 5px 20px 5px;
    }

    .footer-section {
        font-size: 0.9rem;
    }

}


@media screen and (max-width: 670px) {

    body {
        font-size: 0.8rem;
    }

    .hero-content h1 {
        font-size: 4.8rem;
    }

    h6 {
        font-size: 0.9rem;
    }

    .presentation .container p {
        padding-top: 90px;
    }

    h2 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: inherit;
    }

    .hero-content {
        margin-right: 15px;
    }

    .hero-content h1 {

        padding-top: 150px;
        font-size: 3.7rem;

    }

    .hero-content h6 {
        font-size: 0.9rem;
        width: 68%;
    }

    .contact h1, .service h1{

        font-size: 3rem;

    }

    .separator {

        width: 130px;
        height: 7px;


    }

    h2 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1rem;
    }

    .contact h1, .service h1{

        font-size: 3rem;

    }

    .presentation .container p {
        padding-top: 80px;
    }

    .footer-section {
        font-size: 1rem;

    }

    .footer-section .container {
        padding-left: 70px;

    }

    .site-logo {
        width: 75px;
        display: inline-block;
        padding: 18px 5px;
    }

    .col-lg-6.carocas-content {

        padding-left: 50px;
    }

}

@media screen and (max-width: 400px) {

    .hero-content h1 {
        padding-top: 200px;
        font-size: 3.1rem;
    }

    
    .contact h1, .service h1{

        font-size: 2.5rem;

    }

    .presentation .container {
        font-size: 0.9rem;
    }

    .presentation .container p {
        width: 67vw;
        padding-top: 45px;
        padding-left: 15px;
    }

    .col-lg-6.carocas-content {

        padding-left: 30px;
    }

}


@media screen and (max-width: 300px) {

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .presentation .container p {
        width: 180px;

    }


}